

<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/Cool Text - Security and Action 466186452906631.png"></ion-img>

  

<ion-card center>
  <h1 class="ion-text-center">Inicia Sesion</h1>
  <ion-card-header>
    Datos del usuario
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  errorText="Invalid email"
  ngModel
  email
></ion-input>
      </ion-item>
      <ion-item>
       
<ion-input
type="password"
fill="solid"
label="password"
labelPlacement="floating"
ngModel

></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button routerLink="/inicio">ingresar</ion-button>
    </div>
  </ion-card-content>
</ion-card>


</ion-content>
