<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Emergencia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/Cool Text - Security and Action 466186452906631.png"></ion-img>

  <ion-img  style=" padding-top: 7%;  padding-bottom:28%;  display: block; margin: auto; width: 90%;  "  src="../../../assets/image.png"></ion-img>
  
     <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="ion-text-center" size="large" color="danger" (click)="llamarPolicia()">Llamar a la policia!!!</ion-button>
      </ion-col>
     </ion-row>

  
      
  
</ion-content>
