<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="inicio">
      <ion-icon name="home-outline" ></ion-icon>
     Inicio
    </ion-tab-button>
    <ion-tab-button routerLink="informe">
      <ion-icon name="document-text-outline" ></ion-icon>
      Informe
    </ion-tab-button>
    <ion-tab-button routerLink="emergencia">
      <ion-icon name="alert-outline" ></ion-icon>
      Emergencia  
    </ion-tab-button>
    <ion-tab-button routerLink="menu">
      <ion-icon name="enter-outline" ></ion-icon>
      Menu
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>